	<div class="page-wrapper">

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<!-- <a href="home.html"> -->
				<a routerLink="/products">
					<img src="assets/images/logo.png" alt="tanknavy" class="img-responsive">
				</a>
            </div>
            
            <!--左侧菜单组件-->
            <app-product-category-menu></app-product-category-menu>
			<!-- <div class="menu-sidebar-content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar-list">
                        <li></li>
					</ul>
				</nav>
            </div> -->
            
		</aside>
		<!-- END MENU SIDEBAR-->

		<!--内容组件，使用router来部分更新内容-->
		<!-- PAGE CONTAINER-->
		<div class="page-container">
			<!-- HEADER DESKTOP-->
			<header class="header-desktop">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
						<div class="header-wrap">

							<app-search></app-search>
							<!--以下搜索框和按钮被angular中的tag代替，实现data-binding双向绑定-->
							<!-- <form class="form-header" onsubmit="return false;" method="GET">
								<input class="au-input au-input-xl" type="text" name="search"
									placeholder="Search for data ..." />
								<button class="au-btn-submit" type="submit">
									Search
								</button>
							</form> -->

							<!--以下cart-status的html原型使用angular组件替代-->
							<app-cart-status></app-cart-status>
							<!-- <div class="cart-area d-n">
								<a href="shopping-detail.html">
									<div class="total">19.22 <span> 2</span> </div> <i class="fa fa-shopping-cart"
										aria-hidden="true"></i>
								</a>
							</div> -->

						</div>
						<div class="account-wrap"></div>
					</div>
				</div>
			</header>
			<!-- END HEADER DESKTOP-->


            <!-- MAIN CONTENT-->
            <!--添加路由，而不是直接写组件，基于route渲染相关componenet，需要将上面相关href更新为routerLink='xx' routerLinkActive="active-link"-->
			<!--商品分类，搜索结果，商品详情...router-outlet相当于一个placeholder-->
			<router-outlet></router-outlet>
			
            <!--测试组件中crud-->
			<!-- <app-product-list></app-product-list> -->

		    <!-- END MAIN CONTENT-->

		</div>
	</div>

	<!-- END PAGE CONTAINER-->


	<footer>
		<ul>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Help</a></li>
		</ul>
	</footer>